target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.settings
.springBeans

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#local files
settings-local.xml
*.crt
filestore.props
manifest.yml
